
*{
  color: #292828;
}

.main.css-uf99v8.ea3mdgi5{
  background: #FAF4EA;
}


.css-cio0dv.ea3mdgi1 {
  visibility: hidden;
}


.css-czk5ss.e16jpq800 {
  visibility: hidden;
}

.css-19rxjzo{
  border-color: #25995C;
  background-color: #FAF4EA;

}
.css-19rxjzo:hover{
  border-color: #25995C;
  border-width: 3px;
  transition-duration: 0.1s;
 
}

.css-19rxjzo:active{
  border-color: #25995C;
  border-width: 3px;
  background-color: #25995C;  
}
